@import url("http://fonts.cdnfonts.com/css/clash-display");
@import url("http://fonts.cdnfonts.com/css/sf-pro-display");
:root {
  --skyblue: rgb(82, 113, 255);
  --blue: #022e70;
  --general: rgb(255, 255, 255);
  --darkblue: #002c6e;
  --banner-color: rgb(244, 246, 255);
  --button-bg: #5271ff;
  --cover-color: #3252e5;

  --clash: "Clash Display", sans-serif;
  --sf: "SF Pro Display", sans-serif;
}
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/**************** Utitlies Styling ****************/
li {
  list-style: none;
}
a {
  text-decoration: none;
}

.wraps {
  flex-wrap: wrap;
}
.pad {
  padding-left: 10px;
}
/**************** Utitlies Ended ****************/
.container {
  background: var(--banner-color);
}
.banner {
  height: 500px;
  width: 1440px;
  margin: 0 auto;
}

/**************** NavBar Styling ****************/
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 25px;
}
.nav-brand {
  display: flex;
  align-items: center;
}
.nav-brand img {
  width: 35px;
}

.nav-brand h2 {
  font-family: var(--sf);
  color: var(--darkblue);
  font-size: 25px;
  margin-left: 5px;
}

.navbar {
  display: flex;
}

.navbar > li {
  padding: 0 25px;
}

.navbar .nav-list a {
  font-family: var(--sf);
  color: var(--blue);
  font-size: 18px;
  font-weight: 500;
}

.nav-button {
  display: flex;
  align-items: center;
}

.nav-button a {
  font-family: var(--clash);
  font-size: 15px;
  font-weight: 500;
  background-color: var(--button-bg);
  border-radius: 10px;
  display: flex;
  align-items: center;
  color: var(--general);
  padding: 15px 20px;
}
.nav-button a img {
  margin-left: 5px;
  width: 80px;
}
/**************** NavBar Ending ****************/

/**************** Main Styling ****************/
main {
  margin: 4% auto;
}
.content {
  width: 60%;
  margin: 0 auto;
  position: relative;
}
.content h1 {
  font-family: var(--clash);
  font-size: 75px;
  margin: 0 auto;
  text-align: center;
  color: var(--button-bg);
}
.content h1 span {
  color: var(--blue);
}
.content p {
  font-family: var(--sf);
  margin: 0 auto;
  text-align: center;
  font-size: 18px;
  color: var(--blue);
}

.content-img {
  margin: 38px 0;
  display: flex;
  justify-content: center;
}
.content-img img {
  width: 60%;
}
.group-icon-1 {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 240px;
  width: 100%;
}
.group-icon-1 > div {
  background-color: var(--general);
  border-radius: 10px;
  transform: rotate(10deg);
}
.group-icon-2 {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 450px;
  width: 100%;
}
.icon-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.icon-3 .profiles {
  border: 1px solid green;
  position: relative;
  display: flex;
}
/* 
.pro-4 {
  position: absolute;
  left: 148px;
}
.pro-3 {
  position: absolute;
  left: 99px;
}
.pro-2 {
  position: absolute;
  left: 50px;
}
.pro-1 {
  position: absolute;
} */

.icon-4 {
  display: flex;
  align-items: center;
}
.icon-4 img {
  width: 20%;
}
/**************** Main Ending ****************/

/**************** about styling ****************/
.about {
  background: var(--button-bg);
  display: flex;
  width: 80%;
  margin: 0 auto;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  border-radius: 20px;
  color: var(--banner-color);
}
.about h3 {
  font-family: var(--clash);
  font-size: 30px;
  font-weight: bolder;
}
.about p {
  font-family: var(--sf);
  font-size: 15px;
}

.about > div {
  width: 20%;
  display: flex;
  align-items: center;
  padding: 60px 10px;
}

.about img {
  width: 50px;
}


/**************** about Ending ****************/
.cover-bottom {
  position: relative;
}
.cover-top::after {
  content: "";
  position: absolute;
  top: 0;
  right: 16px;
  width: 30px;
  height: 30px;
  background: var(--cover-color);
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.one,
.two,
.three {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 145px;
  left: 40px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background: var(--cover-color);
}
.three {
  left: 95px;
  top: 150px;
}
.project img {
  width: 20%;
}
